input.displayOnly {
	enterable: false;
	fill: transparent;
	border-style: none;
	stroke: #6666CC;
}

text.title {
	font-weight: bold;
	text-align: right;
}

.special {
	
	font-weight: bold;
	color: #7a6d6d;
	font-size: 20;
}
